
@using WebApplication4.Model
@using WebApplication4.Models

@page
@{
    ViewData["Title"] = "Page1";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<h2>Page1</h2>

@(Html.DevExtreme().DataGrid<WebApplication4.Model.Student>()
    .DataSource(ds => ds.Mvc()
        .Controller("StudentsController2")
        .LoadAction("Get")
        .InsertAction("Post")
        .Key("StudentID")
        
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.StudentID);

        columns.AddFor(m => m.StudentName);

        columns.AddFor(m => m.DateOfBirth);

        columns.AddFor(m => m.Photo);

        columns.AddFor(m => m.Height);

        columns.AddFor(m => m.Weight);
    })
    .Editing(e => e
        .AllowAdding(true)
    )
)
