@{
    ViewData["Title"] = "View1";
}

<h2>View1</h2>

@(Html.DevExtreme().DataGrid<DevExtremeAspNetCoreApp4.Models.Order>()
    .DataSource(ds => ds.Mvc()
        .Controller("OrdersEF")
        .LoadAction("Get")
        .Key("OrderID")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.OrderID);

        columns.AddFor(m => m.OrderDate);

        columns.AddFor(m => m.CustomerID);

        columns.AddFor(m => m.CustomerName);

        columns.AddFor(m => m.ShipCountry);

        columns.AddFor(m => m.ShipCity);
    })
)
