@page "/SalesOrder"
@inject HttpClient http
@using ModelClass.Model
<h3>SalesOrder</h3>

@if (salesorders == null)
{
    <text> Loading... </text>
} else if (salesorders.Length == 0)
{
    <text> There are not records in the data </text>
} else
{
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var salesorders in salesorders)
        {
        <tr>
            <td>@salesorders.SalesOrderID.</td>
            <td>@salesorders.ShipDate</td>
            <td>@salesorders.ShipMethod</td>

        </tr>
         }
    </tbody>

</table>
};


@code {

    ModelClass.Model.SalesOrder[] salesorders { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadSalesOrder();
    }

    async Task LoadSalesOrder()

    {
     salesorders = await http.GetJsonAsync<ModelClass.Model.SalesOrder[]>("https://wacrmwebservice.azurewebsites.net/api/SalesOrderHeaders");
    }


}
