<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="fuelSDK" type="FuelSDK.FuelSDKConfigurationSection, FuelSDK" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <fuelSDK
      appSignature="none"
      clientId="YOUR_CLIENT_ID"
      clientSecret="YOUR_CLIENT_SECRET"
      authEndPoint="YOUR_AUTH_TSE"
      restEndPoint="YOUR_REST_TSE"
      useOAuth2Authentication="true"
      applicationType="server"
  authorizationCode="AUTHORIZATION_CODE"
  redirectURI="REDIRECT_URI_FOR_PUBLIC/WEB_APP"
  accountId="TARGET_ACCOUNT_ID"
  scope="DATA_ACCESS_PERMISSIONS" />
</configuration>