@page "/SalesOrder"
@inject HttpClient http
@using ModelClass.Model
<h3>SalesOrder</h3>

<div>
    <a class="btn btn-success" href="SalesOrder/Create">New Order</a>
</div>

@if (salesorders == null)
{
    <text> Loading... </text>
}
else if (salesorders.Length == 0)
{
    <text> There are no records in the data </text>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Sales Order ID</th>
                <th>Ship Date</th>
                <th>Ship Method</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var salesorders in salesorders)
            {
                <tr>
                    <td>
                        <a class="btn btn-success">Edit</a>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                    <td>@salesorders.SalesOrderID.</td>
                    <td>@salesorders.ShipDate</td>
                    <td>@salesorders.ShipMethod</td>

                </tr>
            }
        </tbody>

    </table>
};


@code {

    ModelClass.Model.SalesOrder[] salesorders { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadSalesOrder();
    }

    async Task LoadSalesOrder()

    {
        salesorders = await http.GetJsonAsync<ModelClass.Model.SalesOrder[]>("https://wacrmwebservice.azurewebsites.net/api/SalesOrderHeaders");
    }


}
