
@page "/addtimeSheet"
@inject HttpClient http
@inject IJSRuntime js
@inject NavigationManager uriHelper
@using TimeSheet.Data
@using TimeSheet
@using ModelClass.Model

<h3>AddTimeSheet</h3>


<TelerikTextBox Label="Month"></TelerikTextBox>
<TelerikTextBox Label="Week"></TelerikTextBox>
<TelerikTextBox Label="Hours"></TelerikTextBox>
<TelerikTextBox Label="Project Code"></TelerikTextBox>
<TelerikTextBox Label="RFQ Number"></TelerikTextBox>
<TelerikTextBox Label="Admin Code"></TelerikTextBox>


@code {

}
