@page "/"

<h1 class="text-center">Hello, world!</h1>

<div>
    <label class="text-center">THis is a framework for Wise Ally Application</label>
</div>
                
                
                
